@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

* {
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: rgb(252, 252, 252);
  --a1: rgba(0 0 0 / 0.05);
  --a2: rgba(0 0 0 / 0.1);
  --foreground: rgb(28, 28, 29);
  --shadow: 0px 6px 20px rgb(0 0 0 / 20%);
}

html[data-theme-dark]:root {
  --background: rgb(28, 28, 29);
  --a1: rgb(53, 53, 54);
  --a2: rgba(255 255 255 / 0.1);
  --foreground: rgb(252, 252, 252);
  --shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
}

html {
  background: var(--background);
  color: var(--foreground);
}

kbd {
  font-family: monospace;
}
