.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(var(--unit) * 4);

  h1 {
    margin: 0;
    font-size: 24px;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: calc(var(--unit) * 0.5);
    color: var(--foreground);
    height: 100px;
    width: 100px;
    padding: 0;
    transition: background 100ms;

    &:hover {
      background: var(--a1);
    }

    &:active {
      background: var(--a2);
    }
  }
}
