.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 48px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--unit) * 2);

  h1 {
    margin-left: var(--unit);
  }

  button {
    cursor: pointer;
  }
}
